{% extends 'IntFactorization/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="bg"></div>
    <article>
        This website, is for prime factorization of an integer and solving the knapsack problem.
    </article>
    <footer>
        <p>
            What's a copyright?
        </p>
    </footer>
{% endblock content %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        {% load static %}-->
<!--        <meta charset="UTF-8"/>-->
<!--		<title>Home Page</title>-->
<!--		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">-->
<!--        <link rel="icon" href="{% static 'images/logo.png' %}">-->
<!--    </head>-->

<!--    <body id="HomePage">-->
<!--        <div class="bg"></div>-->

<!--        <div id="home">-->
<!--            <nav class="navigation">-->
<!--                <p class="pageTitle">-->
<!--                    Math!-->
<!--                </p>-->

<!--                <div id="navbarSupportedContent">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="{% url 'index' %}">Home Page</a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="{% url 'prime_fact' %}">Prime Factorization</a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="{% url 'knapsack' %}">Knapsack Problem</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </nav>-->

<!--            <article>-->
<!--                This website, is for prime factorization of an integer and solving the knapsack problem.-->
<!--            </article>-->

<!--            <footer>-->
<!--                <p>-->
<!--                    What's a copyright?-->
<!--                </p>-->
<!--            </footer>-->
<!--        </div>-->
<!--    </body>-->
<!--</html>-->
