{% extends 'IntFactorization/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/knapsack.css' %}">
    <div class="bg"></div>

    <div class="knapsackContainer">
            <div class="knapsackOverview">
                <h2>Problem Overview</h2>
                <p>
                    In the knapsack problem, you need to pack a set of items, with given values and sizes (such as weights or volumes),
                    into a container with a maximum capacity. If the total size of the items exceeds the capacity, you can't pack them all.
                    In that case, the problem is to choose a subset of the items of maximum total value that will fit in the container.
                </p>
            </div>

            <div class="knapsack">
                <h2>Knapsack Problem</h2>

                <div class="knapsackUserInput">
                    <span>Weight Limit:</span>
                    <input class="knapsackInputLimit" type="number" placeholder="Enter a number..">
                    <button class="knapsackButton" type="button">Compute</button>
                    <progress id="knapsackProgress" value="0" max="100"></progress>

                    <div id="knapsackItems" class="knapsackWrapper">
                        <button class="knapsackAddItem" class="knapsackAddItemButton" type="button" onclick="addItemKnapsack()">+</button>

                        <div class="knapsackItem">
                            <span>Weight</span>
                            <input class="knapsackInputWeight" type="number" name="wightInput" min=0>

                            <span>Value</span>
                            <input class="knapsackInputValue" type="number" name="valueInput" min=0>

                            <button class="removeItemButton" type="button" onclick="removeItemKnapsack(event)">-</button>
                        </div>
                    </div>
                </div>

                <div class="knapsackResultContainer">
                    <h3>Prime decomposition:</h3>
                    <p class="knapsackResult"></p>
                </div>
            </div>
    </div>

    <footer>
        <p>
            What copyrights are you talking about
        </p>
    </footer>

    <script>
        function addItemKnapsack() {
            var items = document.getElementById("knapsackItems");
            var item = document.createElement("div");
            item.className = "knapsackItem";

            var weightSpan = document.createElement("span");
            weightSpan.appendChild(document.createTextNode("Weight"));
            item.appendChild(weightSpan);

            var weightInput = document.createElement("input");
            weightInput.className = "knapsackInputWeight";
            item.appendChild(weightInput);

            var valueSpan = document.createElement("span");
            valueSpan.appendChild(document.createTextNode("Value"));
            item.appendChild(valueSpan);

            var valueInput = document.createElement("input");
            valueInput.className = "knapsackInputValue";
            item.appendChild(valueInput);

            var removeButton = document.createElement("button");
            removeButton.className = "removeItemButton";
            removeButton.nodeType = "button";
            removeButton.onclick = removeItemKnapsack;
            removeButton.appendChild(document.createTextNode("-"));
            item.appendChild(removeButton);

            items.appendChild(item);
        }

        function removeItemKnapsack(ev) {
            var ul = document.getElementById("knapsackItems");
            ul.removeChild(ev.target.parentElement);
        }
    </script>
{% endblock content %}
