{% extends 'IntFactorization/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/prime_fact.css' %}">
    <div class="bg"></div>

    <script>
        function timeout(ms, promise) {
            return new Promise((resolve, reject) => {
                const timer = setTimeout(() => {
                reject(new Error('TIMEOUT'))
                }, ms)

                promise
                .then(value => {
                    clearTimeout(timer)
                    resolve(value)
                })
                .catch(reason => {
                    clearTimeout(timer)
                    reject(reason)
                })
            })
        }

        function factorize(event) {
            event.preventDefault();
            const num = document.getElementById("factorizationInput").value;
            const a = document.getElementById("factorizationResult");
            a.innerHTML = "";
            const b = document.getElementById("loader");
            b.style.visibility = "visible";
            
            timeout(60000, fetch(`/factorize/${num}`))
                .then(result => result.json())
                .then(result => {
                    if (result === 400) {
                        const a = document.getElementById("factorizationResult");
                        a.innerHTML = "Number too large";
                        b.style.visibility = "hidden";
                    } else {
                        const a = document.getElementById("factorizationResult");
                        a.innerHTML = result.reduce((acc, number) => `${acc}, ${number}`);
                        b.style.visibility = "hidden";
                    }
                }).catch(function(error) {
                    if (error.message === 'TIMEOUT') {
                        const a = document.getElementById("factorizationResult");
                        a.innerHTML = "Timeout error, your request took more than a minute to process.";
                        b.style.visibility = "hidden";
                    }
                });
        }
    </script>

    <div class="primeFactContainer">
            <div class="primeFactOverview">
                <h2>Prime Factorization Overview</h2>
                <p>
                    Prime factorization or integer factorization of a number is breaking a number down into the set of prime numbers which multiply together to result in the original number.
                    This is also known as prime decomposition.
                </p>
                <h2>How to Find Prime Factorization of a Number</h2>
                <p>
                    Say you want to find the prime factors of 100 using trial division. Start by testing each integer to see if and how often it divides 100 and the subsequent quotients evenly.
                    The resulting set of factors will be prime since, for example, when 2 is exhausted all multiples of 2 are also exhausted.
                </p>
            </div>

            <div class="primeFact">
                <h2>Prime Factorization</h2>

                <div class="factorizationUserInput">
                    <span>Number to factorize:</span>

                    <form id="factorizationInputForm">
                        <input class="factorizationInputNumber" type="number" name="factInputNumber" id="factorizationInput" placeholder="Enter a number..." min="0"
                        max="100000000000000000000000000000000000000000000000000000000000000000000000000000000">
                        <button class="factorizationSubmit" type="submit" onclick="factorize(event)">Factorize</button>
                    </form>

                    <div id="loader" class="loadingIcon"></div>
                </div>

                <form action="/prime_history" class="viewHistory">
                    <input type="submit" value="History"/>
                </form>

                <div>
                    <h3>Prime decomposition:</h3>
                    <p id="factorizationResult"></p>
                </div>
            </div>
    </div>
    <footer>
        <p>
            There are no copyrights are you kidding me
        </p>
    </footer>
{% endblock content %}
