.bg {
    background-image: url("../images/index-bg.jpg");
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}

article {
    background-color: rgb(228, 228, 228);
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 550px;
    margin-right: 550px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

footer {
    position: fixed;
    bottom: 0;
}
