/* body {
    font-family: Sans-Serif;
    color: white;
    padding: 0;
} */

.bg {
    background-image: url("../images/knapsack-bg.jpg");
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}

/* .navigation {
    background-color: rgb(228, 228, 228);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.pageTitle {
    text-align: left;
    font-size: 36px;
    color: black;
    margin-left: 5%;
    margin-right: 15%;
    width: 350px;
}

.navigation li {
    display: inline;
    font-size: 24px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: background-color 0.25s;
}

.navigation a:hover {
    background-color: rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
} */

.knapsackContainer {
    margin: auto;
    width: 75%;
    display: flex;
}

.knapsackOverview {
    background-color: rgb(220, 220, 220);
    color: black;
    margin: 50px;
    padding: 20px;
    width: 50%;
    box-sizing: content-box;
}

.knapsackOverview h2 {
    text-align: center;
}

.knapsack {
    background-color: rgb(220, 220, 220);
    color: black;
    margin: 50px;
    padding: 20px;
    width: 1000px;
    box-sizing: content-box;
}

.knapsack h2 {
    text-align: center;
}

.knapsackUserInput ul {
    display: inline-flex;
}

.knapsackInputWeight {
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 75%;
    outline: none;
}

.knapsackInputValue {
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 75%;
    outline: none;
}

.knapsackInputLimit {
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 15%;
    outline: none;
}

.knapsackButton {
    margin-left: 5px;
}

.knapsackUserInput progress {
    margin-left: 15px;
}

.knapsackUserInput ul {
    display: flex;
}

.knapsackItem {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    margin-left: 5px;
    text-align: center;
}

.knapsackAddItem button {
    text-align: center;
    font-size: 32px;
    padding: 0;
    margin: auto;
    background-color: rgb(220, 220, 220);
    border: 2px dashed black;
    border-radius: 10px;
    width: 70px;
    height: 114px;
    outline: none;
    transition: background-color 0.25s;
}

.knapsackAddItem button:hover {
    background-color: rgb(200, 200, 200);
}

.knapsackResultContainer h3 {
    visibility: hidden;
}

.removeItemButton {
    width: 40px;
    background-color: rgb(220, 220, 220);
    outline: none;
    border: 1px solid black;
    transition: background-color 0.25s;
    margin-top: 2px;
}

.knapsackItem button:hover {
    background-color: rgb(200, 200, 200);
}

footer {
    position: fixed;
    bottom: 0;
    color: black;
}
