.bg {
    background-image: url("../images/prime-bg.png");
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.primeFactContainer {
    margin: auto;
    width: 75%;
    display: flex;
}

.primeFactOverview {
    background-color: rgb(220, 220, 220);
    color: black;
    margin: 50px;
    padding: 20px;
    width: 50%;
    box-sizing: content-box;
}

.primeFactOverview h2 {
    text-align: center;
}

.primeFact {
    background-color: rgb(220, 220, 220);
    color: black;
    margin: 50px;
    padding: 20px;
    width: 1000px;
    box-sizing: content-box;
}

.primeFact h2 {
    text-align: center;
}

.factorizationUserInput {
    display: inline-flex;
}

.factorizationInputNumber {
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
}

.factorizationButton {
    margin-left: 5px;
}

.factorizationUserInput progress {
    margin-left: 15px;
}

.factorizationResultContainer h3 {
    visibility: hidden;
}

footer {
    position: fixed;
    bottom: 0;
}
